body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('assets/fundo.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}

.hidden {
    display: none;
}

#intro-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    cursor: pointer;
}

#intro-screen h1 {
    font-size: 2em;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid pink;
    animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: pink; }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    text-align: center;
    width: 100%;
    max-width: 300px;
    transition: transform 0.3s;
    cursor: pointer;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

.card:hover {
    transform: scale(1.05);
}

.image-container {
    width: 100%;
    height: 0;
    padding-bottom: 100%; /* Aspect ratio 1:1 */
    position: relative;
    margin-bottom: 20px;
}

.image-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card h2 {
    font-size: 1.4em;
    margin: 10px 0;
}

.card .phrase {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}

@media (min-width: 600px) {
    .card {
        width: calc(50% - 40px);
    }
}

@media (min-width: 900px) {
    .card {
        width: calc(33.333% - 40px);
    }
}

@media (min-width: 1200px) {
    .card {
        width: calc(25% - 40px);
    }
}
